@import "tailwindcss";

@source "../**/*.js";

@theme {
  --color-off-white: #f5f2e9;
}

@layer base {
  html {
    max-height: 100vh;
    overflow: hidden;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* handles safari overscroll background color */
  body:after {
    content: '';
    position: fixed;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    z-index: -1;
    background-color: var(--color-off-white);
  }

  /* Inflection Font */
  @font-face {
    font-family: 'grenette_regular';
    src: url('../../public/static/fonts/grenette-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* Apple II Mono */
  /* format is tff */
  @font-face {
    font-family: 'apple2mono';
    src: url('../../public/static/fonts/apple2mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Invert highlight colors */
  ::selection {
    background-color: #6366f1;
    color: #f5f5f5;
    filter: invert(1);
  }
}

/* Your own custom utilities */
@utility text-primary {
  color: var(--color-gray-900);
}

@utility text-secondary {
  color: var(--color-gray-700);
}

@utility text-tertiary {
  color: var(--color-gray-500);
}

@utility text-quaternary {
  color: var(--color-gray-400);
}

@utility text-quinary {
  color: var(--color-gray-300);
}

@utility font-grenette {
  font-family: 'grenette_regular', 'dazzed_medium', sans-serif;
}

@utility font-apple2mono {
  font-family: 'apple2mono', monospace;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}